name: CI

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  test:
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Swift version
        run: swift --version

      - name: Run tests
        env:
          SWIFTPM_MODULECACHE_OVERRIDE: ${{ runner.temp }}/spm-module-cache
          SWIFT_MODULE_CACHE_PATH: ${{ runner.temp }}/spm-module-cache
        run: swift test
